<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/totalCharge.css">
    <script>
       function breakfastFunc(){
            $('input[name="dbbuffet"]').change(function(){
                if ($("input[name='dbbuffet']:checked").length > 1) {
                    $(this).prop('checked', false)
                }
                calculateUser();
            })
        }

        function lunchFunc(){
            $('input[name="dlbuffet"]').change(function(e){
                if ($("input[name='dlbuffet']:checked").length > 1) {
                    $(this).prop('checked', false)
                }
                calculateUser();
            })
        }

        function dinnerFunc(){
            $('input[name="ddbuffet"]').change(function(e){
                if ($("input[name='ddbuffet']:checked").length > 1) {
                    $(this).prop('checked', false)
                }
                calculateUser();
            })
        }

        function allFunc(){
            $('input[name="dailybuffet"]').change(function(e){
                if ($("input[name='dailybuffet']:checked").length > 1) {
                    $(this).prop('checked', false)
                }
                calculateUser();
            })
        }

        function calculateUser(){
            var fees = 0;
            var room = $("#roomfees");
            var extra = $("#extrafees");
            var service = $("#servicefees");
            var total = $("#total");
            var breakfast = $("#breakfastbuffet");
            var lunch = $("#lunchbuffet");
            var dinner = $("#dinnerbuffet");
            var allbuffet = $("#allbuffet");
            var pickup = $("#pickupprice");
            var numrooms = $("#numrooms");
            var requestString ="";
            var additional = $("#additionalrequest");

            var inputtotal = $("#inputtotal");

            //console.log('calculate');
            //console.log($("input[class='form-check-input extrafee']:checked").length);
            
            if ($("input[class='form-check-input extrafee']:checked").val() === undefined){
                extra.text(parseFloat(0).toFixed(2));
                var amount = parseFloat(room.text().trim()) + parseFloat(service.text().trim()) + parseFloat(extra.text());
                total.text(amount);
                inputtotal.attr("value",amount);
                additional.val("");

            }

            if ($("input[class='form-check-input extrafee']:checked") != "undefined"){
                $.each($("input[class='form-check-input extrafee']:checked"), function(){
                    var string;
                    if ($(this).val() === 'breakfastbuffet'){
                        fees = parseFloat(fees) + parseFloat(breakfast.text());
                        string = 'Daily Breakfast Buffet'
                    } else if ($(this).val() === 'lunchbuffet'){
                        fees = parseFloat(fees) + parseFloat(lunch.text());
                        string = 'Daily Lunch Buffet '
                    } else if ($(this).val() === 'dinnerbuffet') {
                        fees = parseFloat(fees) + parseFloat(dinner.text());
                        string = 'Daily Dinner Buffet'
                    } else if ($(this).val() === 'allbuffet'){
                        fees = parseFloat(fees) + parseFloat(allbuffet.text());
                        string = 'Daily Buffet'
                    } else if ($(this).val() === 'pickupprice'){
                        fees = parseFloat(fees) + parseFloat(pickup.text());
                        string = 'Arrival and Departure Airport Pick-Up'
                    }

                    requestString = requestString + string + ", "

                    extra.text(fees.toFixed(2));
                    var amount = parseFloat(room.text().trim()) + parseFloat(service.text().trim()) + parseFloat(fees);
                    total.text(amount);
                    inputtotal.attr("value",amount);

                });

                if (requestString !== ""){
                    //console.log(requestString);
                    requestString = requestString.substring(0, requestString.length - 2);
                    //console.log(requestString);
                    additional.val(requestString);
                }

            }

        }

        function calculatePoints(){
            var bbpoints = $("#")
        }
        $(document).ready(function(){
            //allFunc();
            //dinnerFunc();
            //lunchFunc();
            //breakfastFunc();
        })
    </script>
</head>

<body>
    <div class="row pt-3">
        <div class="style">Additional Requests</div>
    </div>
    <div class="row pt-2">
        <div class="subheader">You can choose to either pay with points or money.</div>
    </div>
    <div class="row">
        <img src="/images/AboutUs/MP.svg" width="97%" height="1%">
    </div>
    <div class="form-check pt-2 pb-4">
        <div class="justify-center-content">Available Member Points: {{{memberPoints}}}</div>
        <form>
        <div style="font-size:17px; font-weight: 1000; letter-spacing: 1px;" class="ml-n4 mb-2">Daily Breakfast Buffet</div>
        <div>
            <input class="form-check-input pointfee" type="checkbox" name="dbbuffet" onclick=breakfastFunc() value="breakfastbuffet">
            <label class="form-check-label" for="gridCheck1">
                Use Points (<span id="breakfastbuffetpoints">30000</span> points)
            </label>
        </div>
        <div>
            <div class="row pt-2"></div>
            <input class="form-check-input extrafee" type="checkbox" name="dbbuffet" onclick=breakfastFunc() value="breakfastbuffet">
            <label class="form-check-label" for="gridCheck1">
                Use Payment (PHP <span id="breakfastbuffet">1500.00</span>)
            </label>
        </div>
        <br>
        <div style="font-size:17px; font-weight: 1000; letter-spacing: 1px;" class="ml-n4 mb-2">Daily Lunch Buffet</div>
        <div id="dlb">
            <div class="row"></div>
            <input class="form-check-input pointfee" type="checkbox" name="dlbuffet" onclick=lunchFunc() value="lunchbuffet">
            <label class="form-check-label" for="gridCheck1">
                Use Points (<span id="lunchbuffetpoints">50000</span> points)
            </label>
        </div>
        <div>
            <div class="row pt-2"></div>
            <input class="form-check-input extrafee" type="checkbox" name="dlbuffet" onclick=lunchFunc() value="lunchbuffet">
            <label class="form-check-label" for="gridCheck1">
                Use Payment (PHP <span id="lunchbuffet">1800.00</span>)
            </label>
        </div>
        <br>
        <div style="font-size:17px; font-weight: 1000; letter-spacing: 1px;" class="ml-n4 mb-2">Daily Dinner Buffet</div>
        <div id="ddb">
            <div class="row"></div>
            <input class="form-check-input pointfee" type="checkbox" name="ddbuffet" onclick=dinnerFunc() value="dinnerbuffet">
            <label class="form-check-label" for="gridCheck1">
                Use Points (<span id="dinnerbuffetpoints">60000</span> points)
            </label>
        </div>
        <div>
            <div class="row pt-2"></div>
            <input class="form-check-input extrafee" type="checkbox" name="ddbuffet" onclick=dinnerFunc() value="dinnerbuffet">
            <label class="form-check-label" for="gridCheck1">
                Use Payment (PHP <span id="dinnerbuffet">2000.00</span>)
            </label>
        </div>
        <br>
        <div style="font-size:17px; font-weight: 1000; letter-spacing: 1px;" class="ml-n4 mb-2">Daily Buffet</div>
        <div id="db">
            <div class="row"></div>
            <input class="form-check-input pointfee" type="checkbox" name="dailybuffet" onclick=allFunc() value="allbuffet">
            <label class="form-check-label" for="gridCheck1">
                Use Points (<span id="allbuffetpoints">100000</span> points)
            </label>
        </div>
        <div>
            <div class="row pt-2"></div>
            <input class="form-check-input extrafee" type="checkbox" name="dailybuffet" onclick=allFunc() value="allbuffet">
            <label class="form-check-label" for="gridCheck1">
                Use Payment (PHP <span id="allbuffet">4500.00</span>)
            </label>
        </div>
        <br>
        <div style="font-size:17px; font-weight: 1000; letter-spacing: 1px;" class="ml-n4 mb-2">Others</div>
        <div>
            <div class="row"></div>
            <input class="form-check-input pointfee" type="checkbox" name="pointsfee" onclick=calculateUser() value="spatreatment">
            <label class="form-check-label" for="gridCheck1">
                Spa Treatment for Whole Stay (<span id="spatreatment">50000</span> points)
            </label>
        </div>
        <div>
            <div class="row pt-2"></div>
            <input class="form-check-input extrafee" type="checkbox" name="extrafee" onclick=calculateUser() value="pickupprice">
            <label class="form-check-label" for="gridCheck1">
                Arrival and Departure Airport Pick-Up (PHP <span id="pickupprice">1730.00</span>)
            </label>
        </div>
        </form>
    </div>
    <div class="container pb-4" id="guest">
        <!-- TODO: redirect to billing details dapat meaning no need to put credit card information-->
        <form method="POST" action="/totalCharge/pay">
            <div class="form-group">
                <label for="comment">Additional Comments/Special Requests</label>
                <textarea class="form-control" id="comment" rows="3" name="requests" value="{{data.requests}}"></textarea>
            </div>
            <div class="form-group">
                <input type="hidden" name="checkInDate" value="{{data.checkOutDate}}">
            </div>
            <div class="form-group">
                <input type="hidden" name="checkOutDate" value="{{data.checkInDate}}">
            </div>
            <div class="form-group">
                <input type="hidden" name="rooms" value="{{data.rooms}}" id="numrooms">
            </div>
            <div class="form-group">
                <input type="hidden" name="adults" value="{{data.adults}}">
            </div>
            <div class="form-group">
                <input type="hidden" name="kids" value="{{data.kids}}">
            </div>
            <div class="form-group">
                <input type="hidden" name="roomtype" value="{{data.roomtype}}">
            </div>
            <div class="form-group">
                <input type="hidden" name="pricePerRoom" value="{{data.pricePerRoom}}">
            </div>
            <div class="form-group">
                <input type="hidden" name="total" value="{{data.total}}" id="inputtotal">
            </div> 
            <div class="form-group">
                <textarea class="form-control" rows="3" id="additionalrequest" name="additionalrequest" style="display: none;"></textarea>
            </div> 
            <div class="form-group text-center">
                <input class="btn" type="submit" value="Payment" id="charge">
            </div>        
        </form>
    </div>
</body>

</html>